framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget dotenv.net
nuget FSharp.Core
nuget Giraffe 1.1
nuget Saturn
nuget Saturn.Extensions.Authorization
nuget Saturn.Extensions.Turbolinks

clitool dotnet-saturn

group Build
  framework: netstandard2.0
  source https://api.nuget.org/v3/index.json
  storage none

  nuget ASeward.MiscTools
  nuget Fake.Core.Target
  nuget Fake.DotNet.Cli
  nuget Fake.IO.FileSystem
